{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
{% if request.user.is_authenticated %}
    <p><a href="{% url "logout" %}">Выход</a></p>
    <p>Здравствуйте, {{ request.user.username }}</p>
{% else %}
    {% if request.path != "/accounts/login/" %}
        <p><a href="{% url "login" %}{% if request.GET.next %}?next={{ request.GET.next }}{% else %}?next={{ request.get_full_path }}{% endif %}">Вход</a></p>
    {% endif %}
    {% if request.path != "/accounts/create/" %}
        <p><a href="{% url "create_user" %}{% if request.GET.next %}?next={{ request.GET.next }}{% else %}?next={{ request.get_full_path }}{% endif %}">Регистрация</a></p>
    {% endif %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>