{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    {% if product.image %}
        <img src="{{ product.image.url }}" width="250" height="250" alt="product image">
    {% else %}
        <img src="{% static "images/default.png" %}" width="250" height="250" alt="default image">
    {% endif %}
    <h3>Наименование товара:</h3>
    <p>
        {{ product.name }}, {% if product.reviews.all %}Рейтинг ({{ product.get_global_ratings }}){% else %}Рейтинг 0{% endif %}
    </p>
    <h3>Описание товара:</h3>
    <p>{{ product.description|default:"Нет описания" }}</p>
    <h3>Категория товара:</h3>
    <p>
        {{ product.get_category_display }}
    </p>
    {% if perms.webapp.change_product %}
        <p><a href="{% url "edit" product.pk %}">Изменить</a></p>
    {% endif %}
    {% if perms.webapp.delete_product %}
        <p><a href="{% url "delete" product.pk %}">Удалить</a></p>
    {% endif %}
    {% include "partial/reviews.html" %}
    <p>
        <a style="color: red;" href="{% url "index" %}"><b>На главную</b></a>
    </p>
{% endblock %}